.modalContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);

  @media (min-width: 576px) {
    width: 480px;
  }
}
