@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #be3887;
  --bg-secondary-dark: #3983c5;
  --bg-secondary-light: #559fd6;
}

html {
  scroll-padding: 5rem;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Customized scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bg-primary);
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    border-radius: 4px;
  }
  /* Customized scrollbar */
}
